<div class="book {{viewClass}}">
  <h3>{{title}}</h3>
  <p><strong>Author(s):</strong> {{authors}}</p>
  <p><strong>Publisher:</strong> {{publisher}}</p>
  <p><strong>Published Date:</strong> {{publishedDate}}</p>
  <p>{{shortDescription}}</p>
  <p>
    {{#previewLink}}<a href="{{previewLink}}" target="_blank">Preview</a>{{/previewLink}}
    | <a href="#" class="view-details" data-id="{{id}}">View Details</a>
  </p>
</div>
<hr>