<div class="details-container">
  <h2>{{title}}</h2>
  <p><strong>Author(s):</strong> {{authors}}</p>
  <p><strong>Publisher:</strong> {{publisher}}</p>
  <p><strong>Published:</strong> {{publishedDate}}</p>
  <p><strong>Page Count:</strong> {{pageCount}}</p>
  <p><strong>Categories:</strong> {{categories}}</p>
  <p><strong>Description:</strong> {{description}}</p>
  {{#previewLink}}<p><a href="{{previewLink}}" target="_blank">Preview on Google Books</a></p>{{/previewLink}}
</div>